<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ru</string>

    <key>CFBundleDisplayName</key>
    <string>The Last Hunter</string>

    <key>CFBundleExecutable</key>
    <string>MinimalClicker</string>

    <key>CFBundleIdentifier</key>
    <string>app.bronze6658.lychee6856</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>TheLastHunter</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>3.0</string>

    <key>CFBundleVersion</key>
    <string>3</string>

    <key>LSRequiresIPhoneOS</key>
    <true/>

    <key>MinimumOSVersion</key>
    <string>15.0</string>

    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
    </array>

    <key>UILaunchScreen</key>
    <dict/>

    <key>UIRequiresFullScreen</key>
    <true/>

    <key>UIStatusBarHidden</key>
    <true/>

    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
